In [1]:
# import warnings filter 
from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)


# Importing Dask packages
import dask.dataframe as dd
import dask.array as da

#import otheer needed python packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [3]:
!pwd

/home/qwerty/Documents/Time Series Forecasting/notebooks

In [4]:
import os
import wget

# Extracting the dataset online

### To overwrite the previous datasets when re-running
if 'covid19_data.csv' in os.listdir("../data"):
    os.remove('/home/qwerty/Documents/Time Series Forecasting//data/covid19_data.csv')
    path = '/home/qwerty/Documents/Time Series Forecasting//data/covid19_data.csv'
    url =  "https://raw.githubusercontent.com/datasets/covid-19/master/data/time-series-19-covid-combined.csv"
    wget.download(url, path)
else:
    path = '/home/qwerty/Documents/Time Series Forecasting/data/covid19_data.csv'
    url =  "https://raw.githubusercontent.com/datasets/covid-19/master/data/time-series-19-covid-combined.csv"
    wget.download(url, path)
    
# Reading the dataset
data = dd.read_csv('../data/covid19_data.csv',
                   dtype={'Confirmed': 'float64','Deaths': 'float64', 'Lat':'float64', 'long':'float64'})

### Preprocessing the datasets

In [5]:
data.head()

,Date,Country/Region,Province/State,Lat,Long,Confirmed,Recovered,Deaths
0,2020-01-22,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0
1,2020-01-23,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0
2,2020-01-24,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0
3,2020-01-25,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0
4,2020-01-26,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0

In [6]:
data.compute().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34710 entries, 0 to 34709
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            34710 non-null  object
 1   Country/Region  34710 non-null  object
 2   Province/State  10660 non-null  object
 3   Lat             34710 non-null  float64
 4   Long            34710 non-null  float64
 5   Confirmed       34580 non-null  float64
 6   Recovered       32890 non-null  float64
 7   Deaths          34580 non-null  float64
dtypes: float64(5), object(3)
memory usage: 2.1+ MB

In [7]:
#Parsing the 'Date' feature to a date datatype 
data['Date'] = dd.to_datetime(data['Date'], infer_datetime_format=True)

In [8]:
data.compute().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34710 entries, 0 to 34709
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            34710 non-null  datetime64[ns]
 1   Country/Region  34710 non-null  object
 2   Province/State  10660 non-null  object
 3   Lat             34710 non-null  float64
 4   Long            34710 non-null  float64
 5   Confirmed       34580 non-null  float64
 6   Recovered       32890 non-null  float64
 7   Deaths          34580 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 2.1+ MB

In [10]:
# Feature Creation
data['currentCase'] = data['Confirmed'] - data['Recovered'] - data['Deaths']

In [13]:
data.head()

,Date,Country/Region,Province/State,Lat,Long,Confirmed,Recovered,Deaths,currentCase
0,2020-01-22,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,0.0
1,2020-01-23,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,0.0
2,2020-01-24,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,0.0
3,2020-01-25,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,0.0
4,2020-01-26,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,0.0

In [14]:
# Aggregating all cases in the world and grouping by date
date_df = data.groupby('Date')[['Confirmed' ,'Recovered', 'Deaths']].sum()

In [16]:
import plotly.express as px

In [ ]:
fig = px.line(date_df, x='Date', y= )

In [ ]:
df = px.data.gapminder().query("continent=='Oceania'")
fig = px.line(df, x="year", y="lifeExp", color='country')
fig.show()

In [15]:
date_df.plot(kind='line', figsize=(20,5))

AttributeError: 'DataFrame' object has no attribute 'plot'